@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.pet-photo {
  width: 60%;
  display: block;
  margin: 0 auto 1rem;
}
body {
  text-align: center;
  p {
    font-size: 1.5rem;
  }
}

ul {
  list-style: none;
}
